body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("images/background.png");
    background-repeat: repeat;
    background-color: hsl(0, 0%, 95%);
}

header {
    background-color: hwb(231 5% 20%);
    color: white;
    text-align: center;
    padding: 1rem;
}

.subtitle {
    font-size: 0.9rem;
    color: hsl(0, 0%, 80%);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: white;
    background: hsl(0, 20%, 5%);
    padding: 5px 10px;
    border-radius: 4px;
}

nav a:hover {
    background: hsl(196, 91%, 46%);
}

main {
    max-width: 850px;
    margin: 20px auto;
    background: #ffffff;
    padding: 15px;
    border-radius: 6px;
}

pre {
    background: hwb(0 4% 96%);
    color: #eee;
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
}

footer {
    background: hwb(231 5% 20%);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
}