body {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 100%, 99%);
}

header {
    background-image: url("images/bg.jpg");
    padding: 10px;
    color: rgb(0, 0, 0);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

nav a {
    background: #fefefd;
    padding: 5px;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    padding: 15px;
}

aside {
    background: lch(67.15% 21.5 220.78);
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    padding: 5px;
}

@media (max-width: 700px) {
    .content {
        display: block;
    }

    nav ul {
        display: block;
    }

    nav li {
        margin: 6px 0;
        text-align: center;
    }
}